<div class="about">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title">{{$ctrl.glasses_details.name}}</div>
            </div>
        </div>
        <div class="row about_row row-eq-height">
            <div class="col-lg-4">
                <div class="about_image"><img src="{{$ctrl.glasses_details.img}}" alt=""></div>
            </div>
            <div class="col-lg-6">
                <div class="about_text_highlight">
                    {{$ctrl.glasses_details.type}} / {{$ctrl.glasses_details.shop_by}} / {{$ctrl.glasses_details.material}}<br>
                    {{$ctrl.glasses_details.price}} € <br>
                    {{$ctrl.glasses_details.stock}} glasses on our shops
                </div>
                <div class="about_text">
                    <p>{{$ctrl.glasses_details.desc}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="button about_button ml-auto mr-auto"><a href="#"><span>call now</span><span>call now</span></a></div>
            </div>
        </div>
    </div>
</div>