<div class="info">
    <div class="container">
        <form action="#" class="menu_search_form">
            <input type="text" ng-change="$ctrl.changed()" class="contact_input" ng-model="$ctrl.search.name" style="vertical-align: middle;"
                   ng-model-options='{ debounce: 200 }'>
            <a ui-sref-active="active" ui-sref="app.glasses" ng-click="$ctrl.reset()">{{$ctrl.filter}} X</a>
        </form><br><br><br>
        <div class="row row-eq-height">
            <div class="GlassesListItem col-md-4" ng-repeat="glasses in $ctrl.varInfo | filter:$ctrl.search:strict | limitTo:$ctrl.itemsPerPage"> 
                <div class="info_box">
                    <div class="info_image"><img src="{{glasses.img}}" alt=""></div>
                        <div class="info_content">
                            <div class="info_title">{{glasses.name}}</div>
                            <div class="info_text">{{glasses.price}}€</div>
                            <div data-ng-if="glasses.stock != 0" class="stock info_text">{{glasses.stock}} left</div>
                            <div data-ng-if="glasses.stock == 0" class="stock info_text"><strong>Sold</strong> </div>
                            <button ui-sref="app.detailglasses({slug: glasses.slug})" id="glassesItem" id="{{glasses._id}}" class="button info_button" name="more_info" id="more_info">More Info</button>                        </div>
                </div><br/>    
            </div>
                <ul uib-pagination class="pagination-sm" boundary-link-numbers="true"
                    total-items="$ctrl.varPager.length" ng-model="$ctrl.currentPage"
                    items-per-page="$ctrl.itemsPerPage" ng-change="$ctrl.pageChanged()">
                </ul>
        </div>
    </div>
</div>
    