<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">

        <h1 class="text-xs-center">Your Settings</h1>

        <list-errors errors="$ctrl.errors"></list-errors>

        <form ng-submit="$ctrl.submitForm()" name="$ctrl.settings_form" id="$ctrl.settings_form">
          <fieldset ng-disabled="$ctrl.isSubmitting">

            <fieldset class="form-group">
              <img src='{{ $ctrl.formData.image }}' />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                type="text"
                placeholder="Username"
                ng-model="$ctrl.formData.username" />
            </fieldset>

            <fieldset class="form-group">
              <textarea class="form-control form-control-lg"
                rows="8"
                placeholder="Short bio about you"
                ng-model="$ctrl.formData.bio">
              </textarea>
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                type="email"
                placeholder="Email"
                ng-model="$ctrl.formData.email" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                type="password"
                placeholder="New Password"
                ng-model="$ctrl.formData.password" />
            </fieldset>

            <fieldset class="form-group">
              <input type="file" ngf-select ng-model="$ctrl.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="1MB" />
              Image thumbnail: <img style="width:100px;" ng-show="!!$ctrl.file" ngf-thumbnail="$ctrl.file || '/thumb.jpg'"/>
              <i ng-show="$ctrl.settings_form.file.$error.maxSize">File too large (max 1M)</i>
              <p>{{$ctrl.progress}}</p>
            </fieldset>

            <button class="btn btn-lg btn-primary pull-xs-right" type="submit">Update Settings</button>
            
          </fieldset>
        </form>

        <!-- Line break for logout button -->
        <hr />

        <button class="btn btn-outline-danger"
          ng-click="$ctrl.logout()">
          Or click here to logout.
        </button>

      </div>
    </div>
  </div>
</div>
