<div class="profile-page">

  <!-- User's basic info & action buttons -->
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <form>
            <img ng-src="{{::$ctrl.profile.image}}" class="user-pic-profile" />
            <br/>
            <div class="control-group">
              <label>Username:</label>
              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                  type="text"
                  placeholder="Username"
                  value="{{::$ctrl.profile.username}}" readonly/>
              </fieldset>
            </div>
            <div class="control-group">
              <label>Email:</label>
              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                  type="text"
                  placeholder="Email"
                  value="{{::$ctrl.profile.email}}" readonly/>
              </fieldset>
            </div>
            <button ui-sref="app.settings"
              class="btn btn-lg btn-primary pull-xs-right"
              ng-show="$ctrl.isUser">
              <i class="ion-gear-a"></i> Edit Profile Settings
            </button>
          </form>
          <br/><br/>

          <follow-btn user="$ctrl.profile" ng-hide="$ctrl.isUser"></follow-btn>

        </div>
      </div>
    </div>
  </div>

</div>
