<nav class="navbar navbar-light">
  <div class="container">
    <div class="header_top">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="header_top_content d-flex flex-row align-items-center justify-content-start">
              <div class="logo">
                  <a class="navbar-brand" ui-sref="app.home">glassy<span>+</span></a>
              </div>
              <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
                <a class="nav-link" ui-sref-active="active" ui-sref="app.home">{{ "home" | translate }}</a>
                <!-- <a class="nav-link" ui-sref-active="active" ui-sref="app.home">Home</a> -->
                <a class="nav-link" ui-sref-active="active" ui-sref="app.glasses">Glasses</a>
                <a class="nav-link" ui-sref-active="active" ui-sref="app.contact">Contact</a>
                <div class="agile_forms" id="LogProf" show-authed="false">
                  <a id="acceder" class="nav-link" ui-sref-active="active" ui-sref="app.login" class="button special">Log In</a>
                  <a id="acceder" class="nav-link" ui-sref-active="active" ui-sref="app.register" class="button special">Sign Up</a>
                </div>
                <div class="agile_forms" show-authed="true">
                    <img src='{{ $ctrl.currentUser.image }}' class="user-pic-header" width="30" height="30"/>
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.profile.main({ username: $ctrl.currentUser.username})">
                      {{ $ctrl.currentUser.username }}
                    </a>
                    <a id='logout' class="nav-link" ng-click="$ctrl.logout()">Log Out</a>
                </div>
                <button ng-click="$ctrl.changeLanguage('en')">English</button>
                <button ng-click="$ctrl.changeLanguage('es')">Spanish</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>