<div class="doctors">
		<div class="doctors_image"><img src="images/doctors.jpg" alt=""></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">To everyone</div>
					<div class="section_subtitle">everytype</div>
				</div>
			</div>
			<div class="row doctors_row">
				
				<!-- Doctor -->
				<div class="col-md-4">
					<div class="doctor">
						<div class="doctor_image"><img src="images/men.jpg" alt=""></div>
						<div class="doctor_content">
							<div class="doctor_name"><a ui-sref-active="active" ui-sref="app.glasses({ filter: 'guys' })">Men</a></div>
						</div>
					</div>
				</div>

				<!-- Doctor -->
				<div class="col-md-4">
					<div class="doctor">
						<div class="doctor_image"><img src="images/women.jpg" alt=""></div>
						<div class="doctor_content">
							<div class="doctor_name"><a ui-sref-active="active" ui-sref="app.glasses({ filter: 'women' })">Women</a></div>
						</div>
					</div>
				</div>

				<!-- Doctor -->
				<div class="col-md-4">
					<div class="doctor">
						<div class="doctor_image"><img src="images/kids.jpg" alt=""></div>
						<div class="doctor_content">
							<div class="doctor_name"><a ui-sref-active="active" ui-sref="app.glasses({ filter: 'kids' })">Kids</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="button doctors_button ml-auto mr-auto">
						<a ng-click="ShowHideMap()" id="btnShowMap" name="btnShowMap"><span>Show/Hide Map</span><span>Show/Hide Map</span></a>
					</div>
					<br/><br/>
					<p ng-show="$ctrl.showMap">
						Search our Shops
						<input type="text" class="contact_input" ng-model="$ctrl.filtro" style="vertical-align: middle;" ng-change="getMarkers()">
						<ul class="list-group">
							<li ng-show="$ctrl.showMap" class="list-group-item" ng-repeat="p in $ctrl.positions | filter:$ctrl.filtro" id="{{p.id}}" ng-click="fillTextbox(p.name)">{{p.name}}</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<br/><br/><br/><br/><br/>
		<div map-lazy-load="https://maps.google.com/maps/api/js">
			<ng-map ng-show="$ctrl.showMap" center="[{{$ctrl.lat}}, {{$ctrl.lng}}]" zoom="11" default-style="true" class="mapEvents" width="30%" height="50%">
				<marker
					no-watcher="true"
					ng-repeat="p in $ctrl.positions | filter: $ctrl.filtro"
					id="{{p.id}}"
					title="{{p.name}}"
					position="{{p.pos}}"
					on-click="showDetailsOnMap(p)">
				</marker>
				<info-window id="myInfoWindow">
					<div class="infoWindowDiv" ng-non-bindable="true">
						<h4 align="center">{{$ctrl.Home.name}}</h4>
						<br>
						<h4 align="center">{{$ctrl.Home.direc}}</h4>
						<br>
						<img src="{{$ctrl.Home.imagen}}" width="250px" heigth="350px" align="center"/>
						<br>
					 </div>
				</info-window>
			</ng-map>
		</div>
	</div>
	