<div class="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 contact_col">
				<div class="contact_form">
          <div class="contact_title" ng-bind="::$ctrl.title"></div>
          <p class="text-xs-center">
            <a ui-sref="app.login" ng-show="$ctrl.authType === 'register'">Have an account?</a>
            <a ui-sref="app.register" ng-show="$ctrl.authType === 'login'">Need an account?</a>
          </p>
					<div class="contact_form_container">
            <form name="auth_form" class="contact_form">
                <fieldset ng-disabled="$ctrl.isSubmitting">
        
                  <fieldset class="form-group" ng-show="$ctrl.authType === 'register'" class="input__label-content input__label-content--chisato">
                    <input class="contact_input" type="text" placeholder="Username" ng-model="$ctrl.formData.username" name="username" minlength="4"
                      maxlength="16" required ng-pattern="/^[a-zA-z0-9]*$/" />
                    <div ng-messages="auth_form.username.$error" role="alert" ng-show="(auth_form.username.$dirty || auth_form.username.$touched)">
                      <div class="text-danger" ng-message-exp="'required'">You did not enter your username</div>
                      <div class="text-danger" ng-message-exp="['minlength', 'maxlength']">Your username must be between 4 and 16 characters long</div>
                      <div class="text-danger" ng-message-exp="'pattern'">Only letters and numbers allowed</div>
                    </div>
                  </fieldset>
        
                  <fieldset class="form-group">
                    <input class="contact_input" type="email" placeholder="Email" ng-model="$ctrl.formData.email" name="email" required
                      ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" />
                    <div ng-messages="auth_form.email.$error" role="alert" ng-show="(auth_form.email.$dirty || auth_form.email.$touched)">
                      <div class="text-danger" ng-message-exp="'required'">You did not enter your email</div>
                      <div class="text-danger" ng-message-exp="'pattern'">Not email format alowed</div>
                    </div>
                  </fieldset>
        
                  <fieldset class="form-group">
                    <input class="contact_input" type="password" placeholder="Password" ng-model="$ctrl.formData.password" name="password" required 
                      minlength="6" maxlength="16" />
                    <div ng-messages="auth_form.password.$error" role="alert" ng-show="(auth_form.password.$dirty || auth_form.password.$touched)">
                      <div class="text-danger" ng-message-exp="'required'">You did not enter your password</div>
                      <div class="text-danger" ng-message-exp="['minlength', 'maxlength']">Your password must be between 6 and 16 characters long</div>
                    </div>
                  </fieldset>
                  <br/>
                  <fieldset class="form group">
                    <a href="http://localhost:8080/api/auth/facebook" ><i class="fa fa-facebook fa-2x"></i></a>&nbsp;&nbsp;
                    <a href="http://localhost:8080/api/auth/googleplus" ><i class="fa fa-google fa-2x"></i></a>
                  </fieldset>
                  <br/>
                  <button class="info_form_button" type="submit" ng-click="$ctrl.submitForm()" ng-bind="::$ctrl.title"></button>

                </fieldset>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
